@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.boxhead h1, .Apple{
    font-family: "Kanit", sans-serif;
    font-weight: 700;
}
.Options-div{
    border-color: #2f3336;
    background-color: #2f3336;
}
.imp-text{
  color: #2ea2f0;
}

.popUpCont{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.activeForLabel{
   margin-top: -0.9rem;
   margin-bottom: -0.85rem;
   background: black;
   z-index: 2;
   color: rgb(59, 146, 253);
   font-weight: 500;
}
.activeForInput{
    border: 2px solid rgb(59, 146, 253);
    border-radius: 0.5rem;
}

