@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.boxhead h1, .Apple{
    font-family: "Kanit", sans-serif;
    font-weight: 700;
}
.Options-div{
    border-color: #2f3336;
    background-color: #2f3336;
}
.imp-text{
  color: #2ea2f0;
}

.popUpCont{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.activeForLabel{
   margin-top: -0.9rem;
   margin-bottom: -0.85rem;
   background: black;
   z-index: 2;
   color: rgb(59, 146, 253);
   font-weight: 500;
}
.activeForInput{
    border: 2px solid rgb(59, 146, 253);
    border-radius: 0.5rem;
}





/* web style */

.web-ActualPostStream{
    min-height: calc(66vh);
}
.web-header-active{
    font-weight: 600;
    color: white;  
}
.web-NavLogoBg{
    transition: 0.2s;
}
.web-NavLogoBg:hover{
    background-color: rgba(255, 255, 255, 0.15);
    cursor: pointer;
}

.web-header-active span{
    border-radius: 4px;
    border-bottom: 4px solid #1d9bf0;
}

/* social item */
.active-socialItem{
    color: #1b92e3;

}
.active-socialItem .siBg{
    background-color: #1b93e338;
    
}
.active-socialItem .siBg svg{
    fill: #1b92e3;

}
/* for green social item */


.active-socialItem-special-green{
    color: rgb(0,186,124);

}
.active-socialItem-special-green .siBg{
    background-color: rgba(0, 186, 124, 0.195)
    
}
.active-socialItem-special-green .siBg svg{
    fill: rgb(0,186,124);
}
/* for pink social item */

.active-socialItem-special-pink{
    color: rgb(249,24,128);

}
.active-socialItem-special-pink .siBg{
    background-color: rgba(249, 24, 129, 0.204)
    
}
.active-socialItem-special-pink .siBg svg{
    fill: rgb(249,24,128);
}


/* ender port styles */
.searchBarStylingWeb input{
    background-color: black;
    border-color: #1987d2;
}
.searchBarStylingWeb svg{
    fill:#1d9bf0;
    
}


#web-ThirdZone::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
#web-ThirdZone {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

